<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube Start Finish Link Generator</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Youtube Link Generator</h1>

            <form action="" class="form-horizontal" @submit.prevent>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Youtube URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Youtube URL" v-model="link">
                    </div>
                </div>

                <div class="form-group text-center">
                    <div class="col-md-offset-2 col-md-1">Hour</div>
                    <div class="col-md-1">Minute</div>
                    <div class="col-md-1">Second</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Start Time</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="Hour" v-model="start.hour">
                    </div>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="Minute" v-model="start.minute">
                    </div>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="Second" v-model="start.second">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Finish Time</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="Hour" v-model="finish.hour">
                    </div>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="Minute" v-model="finish.minute">
                    </div>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="Second" v-model="finish.second">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="input-group">
                            <input type="text" id="inpResult" class="form-control" placeholder="Cropped link..." v-model="croppedLink" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#preview" @click="previewVideo">
                                    <span class="glyphicon glyphicon-new-window"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="preview" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe :src="iframe.src" :width="iframe.width" :height="iframe.height" @load="load"
                            v-show="iframe.loaded" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/jquery"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            link: '',
            start: {
                hour: 0,
                minute: 0,
                second: 0
            },
            finish: {
                hour: 0,
                minute: 0,
                second: 0
            },
            iframe: {
                src: '',
                width: '100%',
                height: 488,
                loaded: false
            }
        },
        computed: {
            startSecond: function () {
                return this.convertSecond(this.start.hour, this.start.minute, this.start.second);
            },
            finishSecond: function () {
                return this.convertSecond(this.finish.hour, this.finish.minute, this.finish.second);
            },
            croppedLink: function () {
                return 'https://www.youtube.com/v/' + this.getVideoId(this.link)
                + '?start=' + this.startSecond
                + (this.finishSecond ? '&end=' + this.finishSecond : '');
            }
        },
        methods: {
            convertSecond: function (hour, minute, second) {
                var converted = (((parseInt(hour) * 60) + parseInt(minute)) * 60) + parseInt(second);
                return !isNaN(converted) ? converted : 0;
            },
            getVideoId: function (link) {
                // source: http://stackoverflow.com/a/8260383
                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                var match = link.match(regExp);

                return (match && match[7].length == 11) ? match[7] : 'B35vsgBzMh4';
            },
            previewVideo: function () {
                this.iframe.src = this.croppedLink + '&autoplay=1&iv_load_policy=3';
            },
            load: function () {
                this.iframe.loaded = true;
            }
        }
    });

    $(function () {
        $('#preview').on('hidden.bs.modal', function () {
            app.iframe.loaded = false;
            app.iframe.src = '';
        });

        $("#inpResult").click(function () {
            $(this).select();
        });
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1000015-13', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>